body {
  font-family: "Open Sans", monospace;
}

.navbar {
	margin-bottom: 0px;
	padding: 15px 15px;
	transition: all 0.5s;
}

.cbp-af-header-shrink {
	padding: 5px 15px;
	opacity: 0.75;
}

.fixed-attachment {
	background-attachment: fixed;
}

.fill-screen {
	/*
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	*/
  	background-size: 100% 100%;
}

.logo {
	color: #FFFFFF;
	text-align: center;
	font-size: 60px;
	font-weight: 900;
	display: inline-block;
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.down-button {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

.down-button i {
	color: #FFFFFF;
	opacity: 0.7;
}

.down-button i:hover {
	opacity: 1;
}

.fill-screen.first-img {
	background-image: url(../imgs/Sakura.jpg);
	opacity: 0.5;
}

.fill-screen.second-img {
	background-image: url(../imgs/HurricaneRage.jpg);
}

.fill-screen.third-img {
	background-image: url(../imgs/Lake.jpg);
}

.fill-screen.forth-img {
	background-image: url(../imgs/Alpaca.jpg);
}

.text-banner {
	text-align: center;
	margin: 40px 20px;
}

.text-banner h1 {
	font-size: 44px;
}

.text-banner p {
	font-size: 18px;
}

.activity-section {
	margin: 50px;
}

.activity img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.contact-us {
	margin: 50px;
	text-align: center;
}

.figure img {
	display: block;
	width: 120px;
	height: 120px;
	margin: 45% auto 0 auto;
	opacity: 0.8;
}

.figure img:hover {
	opacity: 1;
}

.figure figcaption {
	margin: 40px 30%;
	font-size: 22px;
	font-weight: 900;
	color: #000000;
}

.figure figcaption .lable {
	display: block;
}

#carousel {
	margin: 40px 0;
}

#carousel img {
	margin: 0 auto;
	width: 800px;
	height: 600px;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  color: #DDD;
  padding: 20px 0;
  text-align: center;
}