#places h1 {
	display: block;
	margin: 0 auto;
    padding: 150px 0 30px;
	width: 30%;
	text-align: center;
}

#places .trip-days {
	display: block;
	width: auto;
	height: 20%;
	min-height: 10px;
	margin: 10px 5%;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#places .day {
	display: inline-block;
	width: 18%;
	height: 80%;
	margin: 15px;
	background: #000000;
	overflow: hidden;
}

#places .day .place {
	display: block;
	width: 95%;
	height: 20px;
	margin: 2px auto;
}

#places .add-delete-day {
	display: inline-block;
	height: 90%;
	width: 5%;
    overflow: hidden;
}

#places .add-delete-day button {
	display: block;
	height: 30%;
	margin: 20% auto;
}

#places .selected {
	background: #333333;
}

#details h1 {
	display: block;
	margin: 0 auto;
    padding: 50px 0 30px;
	width: 30%;
	text-align: center;
}


#summary h1 {
	display: block;
	margin: 0 auto;
    padding: 50px 0 30px;
	width: 30%;
	text-align: center;
}

.summary {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 45%;
	height: 40px;
}

.summary .email {
	width: 85%;
    height: 100%;
    font-size: 20px;
    vertical-align: middle;
}

.summaryDetail {
	display: block;
    margin: 20px auto;
    width: 65%;
    height: 55%;
}

