[project]
	description = Testing proj for OAuth 2.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PengfeiWeng
[access "refs/for/refs/*"]
	read = group user/PengfeiWeng
	push = group user/PengfeiWeng
	label-Code-Review = -2..+2 group user/PengfeiWeng
	label-Verified = -1..+1 group user/PengfeiWeng
	rebase = group user/PengfeiWeng
	removeReviewer = group user/PengfeiWeng
	submit = group user/PengfeiWeng
[access "refs/heads/*"]
	read = group user/PengfeiWeng
	create = group user/PengfeiWeng
	push = +force group user/PengfeiWeng
	pushMerge = group user/PengfeiWeng
[access "refs/tags/*"]
	push = group user/PengfeiWeng
	push = +force group user/PengfeiWeng
