
    <form name="SearchUser">
      <input type="date" placeholder="Start Date" />
      <input type="date" placeholder="End Date" />
      <input type="search" placeholder="Location" ng-model="username" />
      <input type="submit" value="Search" />
    </form>
    
    <table>
    	<thead>
    		<tr>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="">
    			<td></td>
    		</tr>
    	</tbody>
    </table>
    
    <div ng-include="'tours.html'" ng-if="true"> </div>
